{% extends "recruiter/base1.html" %}
{% load static %}

<html>
<head>

  <title>{% block title %}Shortlisted Interns {% endblock %}</title>
</head>

<body>

{% block content %}

  <div class="row mb-3 justify-content-between">
    <div class="col-md-8 pb-4 pb-md-0 ml-sm-5 highlight">
      <a class=" light-text" href="{% url 'recruiter:InternList' startup.id %}">Available Interns |</a>
      <a href="#">Shortlisted Interns |</a>
      <a class=" light-text" href="{% url 'recruiter:rejectedInterns' %}"> Rejected Interns</a>
    </div>
  </div>


    <table id="table" style="border: none !important; padding: 10px !important;" data-toggle="table"  data-search="true" data-pagination="true" data-filter-control="true" data-show-export="false" data-click-to-select="true" data-toolbar="#toolbar" class="table table-hover">
      <thead>
        <tr style="border-bottom: 1px solid #B6B6B6; padding: 10px !important;">
          <!-- <th style="border: none !important; padding: 10px !important;" data-field="state" data-checkbox="true"></th> -->
          <!-- <th style="border: none !important; padding: 10px !important;" data-field="image"></th> -->
          <th style="border: none !important; padding: 10px !important;" data-field="prenom" data-sortable="true">NAME</th>
          <th style="border: none !important; padding: 10px !important;" data-field="date" data-sortable="true">PROFILE</th>
          <th style="border: none !important; padding: 10px !important;" data-field="examen" data-sortable="true">DEPARTMENT</th>
        </tr>
      </thead>
      <tbody>
        <!-- First row -->
        {% for intern in app %}
        {% if intern.if_shortlisted %}
        <tr style="border-bottom: 1px solid #B6B6B6; padding: 10px !important;" class='internshipRow' id="{{intern.id}}" onclick="openApplyModal('{{intern.id}}')">
          <!-- <td style="border: none !important; padding: 10px !important;"><svg data-jdenticon-value="user127{{intern.id }}" width="30" height="30">
            Fallback text or image for browsers not supporting inline svg.</svg></td> -->
            <td style="border: none !important; padding: 10px !important;">{{ intern.Intern.name }}</td>
            <td style="border: none !important; padding: 10px !important;">{{ intern.Internship.profile }}</td>
            <td style="border: none !important; padding: 10px !important;">{{ intern.Intern.department }}</td>
            
            <div class="modal fade  " id="model{{ intern.id }}">
              <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable ">
                <div class="modal-content border">
        
                  <h3 class="modal-title pl-3 pt-3 "><b>{{ intern.Intern.name }}</b></h3>
                  <div class="modal-body">
        
        
                      <div class="pb-3 pt-2 mx-auto" style="max-width:20%;">
        <!--                <img src="{% static 'image/test_image_ecell.jpg' %}" class="rounded-circle img-fluid" alt="">-->
                      <svg data-jdenticon-value="user127{{intern.id }}" width="80" height="80"></svg>
                      </div>
        
                      <p><h7 style="color:#416EA8!important;">DEPARTMENT</h7><br>{{ intern.Intern.department }}</p>
                      <p><h7 style="color:#416EA8!important;">ROLL NO.</h7><br>{{ intern.Intern.roll_number }}</p>
                      {% if intern.Intern.roll_number|slice:":2" == "20" %}
                        <p><h7 style="color:#416EA8!important;">YEAR OF STUDY</h7><br>First</p>
                      {% elif  intern.Intern.roll_number|slice:":2" == "19" %}
                        <p><h7 style="color:#416EA8!important;">YEAR OF STUDY</h7><br>Second</p>
                      {% endif %}
                      <p><h7 style="color:#416EA8!important;">CV</h7><br><a href="{{ intern.CV }} " target="_blank" style='border: 1px solid #416EA8; padding: 4px; border-radius:3px' >Student CV</a></p>
                      <p><h7 style="color:#416EA8!important;">NOTE</h7><br>Contact details will be sent to you through email.</p>
        
                  </div>
                </div>
              </div>
             </div>
      </tr>
      {% endif %}
      {% endfor %}
      <!-- Second row (Later will be shown with style="border: none !important; padding: 10px !important;" for loop)-->
    </tbody>
  </table>

  <script>

    window.addEventListener('load', function () {
      document.getElementsByClassName("fixed-table-toolbar")[0].style.marginTop = "-45px" ; ;
    })

    $('#table').bootstrapTable({
      onClickRow: function (row, $element) {
        // row: the record corresponding to the clicked row, 
        // $element: the tr element.
        var id = row._id
        openApplyModal(id)
      }
    });
    
    function openApplyModal(i) {
      var modalID = "#model" + i
      $(modalID).modal();
    }
    </script>

{% endblock %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</body>
</html>
